body{
    background: black;
    color: white;
    font-family: roboto, arial, sans, sans serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.blur{
    animation-name: blur;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clear:after{
    content: "";
    display: block;
    clear: both;
    float: none;
}

.unblur{
    animation-name: blur;
    animation-duration: 500ms;
    animation-fill-mode: backwards;
    animation-direction: reverse;
}

a{
    color: white;
    text-decoration: none;
}

a:visited{
    color: #a9a9a9;
    text-decoration: none;
}

h2{
    margin: 5px;
}

.frame{
    background: black;
    border: solid 1px white;
    margin: 5px 0;
    padding: 5px;
    animation-name: headIn;
    animation-duration: 1s;
    animation-fill-mode: backwards;
}

#voice-wrap{
    z-index: 50000;
}

#rss-wrap{
    position: absolute;
    right: 0;
    width: 250px;
}

#rss-wrap h3{
    font-size: 21px;
    font-weight: normal;
    cursor: pointer;
}

#weather-wrap{
    position: absolute;
    left: 0;
    width: 350px;
}

#gallery-wrap{
    position: absolute;
    width: 833px;
    height: 500px;
    bottom: 0;
}

.rss-entry{
    padding: 5px;
    border-bottom: solid 1px #c0c0c0;
    animation-name: slide-down;
    animation-duration: 500ms;
    animation-fill-mode: backwards;
}

.rss-entry .thumbnail{
    float: left;
    width: 140px;
}

.rss-entry:last-child{
    border-bottom: none;
}

.rss-entry h3{
    margin: 5px 0;
}


.reddit-wrap{
    position: absolute;
    right: 270px;
    width: 450px;
}

.reddit-entry{
    padding: 5px;
    border-bottom: solid 1px #c0c0c0;
    animation-name: slide-down;
    animation-duration: 500ms;
    animation-fill-mode: backwards;
}

.reddit-entry:last-child{
    border-bottom: none;
}

.reddit-entry h3{
    margin: 5px 0;
}

#mirrortop{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#overlay{
    display: none;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.spinner{
  width: 40px;
  height: 40px;
  background-color: #FFFFFF;
  margin: 10px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
}

#overlay > *{
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 30px;
    right: 30px;
    padding: 10px;
    margin: auto;
    max-width: 800px;
    /*width: 100%;*/
    /*height: 100%;*/
    animation-name: headIn;
    animation-duration: 500ms;
    animation-fill-mode: backwards;
    /*background: #1249d2;*/
    overflow: auto;
}

#news-wrap p{
    
}

#news-wrap img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

.web-page{
    background: white;
    /*
    position: absolute;
    top: 30px;
    left: 50px;
    right: 50px;
    bottom: 30px;
    margin: auto;
    width: 800px;
    height: 900px;
    */
    position: relative;
    width: 100%;
    height: 100%;
}

.debug{
    position: absolute;
    width: 120px;
    min-height: 150px;
    padding: 0px 3px;
    top: 150px;
}

.debug#sphinx-debug{
    left: 127px;
}

.debug#leap-debug{
    left: 254px;
}

.debug p{
    margin: 0;
}

.button{
    background: #0045a3;
    font-size: 18px;
    height: 40px;
    width: 100%;
    margin: 0;
    margin-bottom: 3px;
    margin-left: -1px;
    text-align: center;
    border: solid 1px white;
    line-height: 40px;
}

/* Leap motion cursor */

.cursor-hand{
    position: absolute;
    background: blue;
    width: 9px;
    height: 9px;
    z-index: 5000;
}

.cursor-finger{
    position: absolute;
    background: red;
    width: 5px;
    height: 5px;
    z-index: 5000;
}

.calibration-overlay{
    position: absolute;
    display: none;
    background: rgba(0,0,0,0.8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.calibration-target{
    width: 9px;
    height: 9px;
    border: solid white 2px;
    padding: 2px;
    background: black;
    z-index: 5100;
    position: absolute;
}

.calibration-target#tl{
    top:0;
    left:0;
}
.calibration-target#tr{
    top:0;
    right: 0;
}
.calibration-target#br{
    bottom: 0;
    right: 0;
}
.calibration-target#bl{
    bottom: 0;
    left: 0;
}
    


@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes slide-down{
    0%{
        height: 0%;
        -webkit-transform: perspective(500px) rotateX(90deg);
    }
    100%{
        height: 100%;
        -webkit-transform: perspective(500px) rotateX(0deg);
        
    }
}

@keyframes blur{
    0%{
        filter: blur(0);
    }
    100%{
        filter: blur(10px);
    }
}

@keyframes headIn{
    0%{
        -webkit-transform: perspective(500px) translateZ(-500px);
        opacity: 0;
    }
    33%{
        opacity: 1;
    }
    100%{
        -webkit-transform: perspective(500px) translateZ(0px);
    }
}